logs
project/project
project/target
target
tmp
.history
/.settings/
/.target/
/bin/
/eclipse/
/.project
/.classpath
/.cache
.DS_Store
/*.env
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
